.elementor-284 .elementor-element.elementor-element-c89b283:not(.elementor-motion-effects-element-type-background),.elementor-284 .elementor-element.elementor-element-c89b283>.elementor-motion-effects-container>.elementor-motion-effects-layer{
          background-color:#1a1919;
          background-image:url("https://themicofoundationja.com/my_content/uploads/2018/12/pattern.png");
          background-position:center center;
          background-repeat:repeat
          }
.elementor-284 .elementor-element.elementor-element-c89b283>.elementor-shape-top .elementor-shape-fill{
          fill:#2e2e2e
          }
.elementor-284 .elementor-element.elementor-element-65df000>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-65df000>.elementor-element-populated{
          transition:background .3s,border .3s,border-radius .3s,box-shadow .3s
          }
.elementor-284 .elementor-element.elementor-element-65df000>.elementor-element-populated>.elementor-background-overlay{
          transition:background .3s,border-radius .3s,opacity .3s
          }
.elementor-284 .elementor-element.elementor-element-92bb606>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{
          align-content:center;
          align-items:center
          }
.elementor-284 .elementor-element.elementor-element-92bb606{
          border-style:solid;
          border-width:0 0 1px;
          border-color:rgba(255,255,255,.15);
          transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
          padding:40px 0 30px
          }
.elementor-284 .elementor-element.elementor-element-92bb606>.elementor-background-overlay{
          transition:background .3s,border-radius .3s,opacity .3s}
.elementor-284 .elementor-element.elementor-element-91db7f9>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-98dd852>.elementor-widget-container{
          margin:0 0 0 15px}
.elementor-284 .elementor-element.elementor-element-a2d0954>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-bd15c6b .elementor-text-editor{
          text-align:center}
.elementor-284 .elementor-element.elementor-element-bd15c6b{
          color:#fab326}
.elementor-284 .elementor-element.elementor-element-a2151ac>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-4e8753c a.elementor-button,.elementor-284 .elementor-element.elementor-element-4e8753c .elementor-button{
          font-size:17px;
          text-transform:uppercase;
          color:#000;
          background-color:#ffdd01
          }
.elementor-284 .elementor-element.elementor-element-4e8753c a.elementor-button:hover,.elementor-284 .elementor-element.elementor-element-4e8753c .elementor-button:hover{
          color:#000;
          background-color:#fef0d3;
          border-color:#000
          }
.elementor-284 .elementor-element.elementor-element-4e8753c .elementor-button{
          border-style:solid;
          border-color:#ffdd01
          }
.elementor-284 .elementor-element.elementor-element-4e8753c>.elementor-widget-container{
          margin:0 44px 0 0}
.elementor-284 .elementor-element.elementor-element-b8a6a5e>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-b8a6a5e>.elementor-element-populated{
          border-style:solid;
          border-width:0 1px 0 0;
          border-color:rgba(255,255,255,.15);
          transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
          padding:70px 130px 70px 0}
.elementor-284 .elementor-element.elementor-element-b8a6a5e>.elementor-element-populated>.elementor-background-overlay{
          transition:background .3s,border-radius .3s,opacity .3s}
.elementor-284 .elementor-element.elementor-element-8506f8a{
          text-align:left}
.elementor-284 .elementor-element.elementor-element-8506f8a.elementor-widget-heading .elementor-heading-title{
          color:#fff}
.elementor-284 .elementor-element.elementor-element-8506f8a .elementor-heading-title{
          font-family:"Helvetica",Sans-serif;
          font-size:18px;
          text-transform:uppercase;
          line-height:30px}
.elementor-284 .elementor-element.elementor-element-8506f8a>.elementor-widget-container{
          margin:0 0 25px 15px}
.elementor-284 .elementor-element.elementor-element-5974ead{
          color:#fefbf2;
          font-family:"Helvetica",Sans-serif;
          font-size:16px;
          line-height:24px}
.elementor-284 .elementor-element.elementor-element-5974ead>.elementor-widget-container{
          margin:0 0 0 15px}
.elementor-284 .elementor-element.elementor-element-082d128>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-082d128>.elementor-element-populated{
          padding:70px 0 70px 55px}
.elementor-284 .elementor-element.elementor-element-b7e09ba.elementor-widget-heading .elementor-heading-title{
          color:#fff}
.elementor-284 .elementor-element.elementor-element-b7e09ba .elementor-heading-title{
          font-family:"Helvetica",Sans-serif;
          font-size:18px;
          text-transform:uppercase;
          line-height:30px}
.elementor-284 .elementor-element.elementor-element-b7e09ba>.elementor-widget-container{
          margin:0 0 25px}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main,#nav-popup-d531c4e .elementor-nav-menu--popup,#nav-popup-d531c4e .elementor-nav-menu--popup>ul>li>a{
          font-family:"Helvetica",Sans-serif;
          font-size:15px}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
#nav-popup-d531c4e .elementor-nav-menu--popup .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
#nav-popup-d531c4e .elementor-nav-menu--popup.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item:hover,.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item.elementor-item-active,.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item.highlighted,.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item:focus{
          color:#ef6711 !important}
#nav-popup-d531c4e .elementor-nav-menu--popup .elementor-item:hover,#nav-popup-d531c4e .elementor-nav-menu--popup .elementor-item:focus{
          color:#ef6711}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main.e--pointer-dot .elementor-item:hover:before{
          background-color:#ef6711}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .current-menu-ancestor .elementor-item.has-submenu{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main .elementor-item.elementor-item-active{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
#nav-popup-d531c4e .elementor-nav-menu--popup .elementor-item.elementor-item-active{
          color:#ffdd01}
#nav-popup-d531c4e .elementor-nav-menu--popup.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
body:not(.rtl) .elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-right:10px}
body.rtl .elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-left:10px}
.elementor-284 .elementor-element.elementor-element-d531c4e .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child){
          margin-bottom:10px}
.elementor-284 .elementor-element.elementor-element-67401b4>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-67401b4>.elementor-element-populated{
          padding:70px 0}
.elementor-284 .elementor-element.elementor-element-9469a12.elementor-widget-heading .elementor-heading-title{
          color:#fff}
.elementor-284 .elementor-element.elementor-element-9469a12 .elementor-heading-title{
          font-family:"Helvetica",Sans-serif;
          font-size:18px;
          text-transform:uppercase;
          line-height:30px}
.elementor-284 .elementor-element.elementor-element-9469a12>.elementor-widget-container{
          margin:0 0 25px}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main,#nav-popup-ec813a1 .elementor-nav-menu--popup,#nav-popup-ec813a1 .elementor-nav-menu--popup>ul>li>a{
          font-family:"Helvetica",Sans-serif;
          font-size:15px}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
#nav-popup-ec813a1 .elementor-nav-menu--popup .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
#nav-popup-ec813a1 .elementor-nav-menu--popup.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item:hover,.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item.elementor-item-active,.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item.highlighted,.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item:focus{
          color:#ef6711 !important}
#nav-popup-ec813a1 .elementor-nav-menu--popup .elementor-item:hover,#nav-popup-ec813a1 .elementor-nav-menu--popup .elementor-item:focus{
          color:#ef6711}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main.e--pointer-dot .elementor-item:hover:before{
          background-color:#ef6711}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .current-menu-ancestor .elementor-item.has-submenu{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main .elementor-item.elementor-item-active{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
#nav-popup-ec813a1 .elementor-nav-menu--popup .elementor-item.elementor-item-active{
          color:#ffdd01}
#nav-popup-ec813a1 .elementor-nav-menu--popup.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
body:not(.rtl) .elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-right:10px}
body.rtl .elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-left:10px}
.elementor-284 .elementor-element.elementor-element-ec813a1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child){
          margin-bottom:10px}
.elementor-284 .elementor-element.elementor-element-c125e01>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-c125e01>.elementor-element-populated{
          padding:70px 0}
.elementor-284 .elementor-element.elementor-element-a702432.elementor-widget-heading .elementor-heading-title{
          color:#fff}
.elementor-284 .elementor-element.elementor-element-a702432 .elementor-heading-title{
          font-family:"Helvetica",Sans-serif;
          font-size:18px;
          text-transform:uppercase;
          line-height:30px}
.elementor-284 .elementor-element.elementor-element-a702432>.elementor-widget-container{
          margin:0 0 25px}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main,#nav-popup-998a21d .elementor-nav-menu--popup,#nav-popup-998a21d .elementor-nav-menu--popup>ul>li>a{
          font-family:"Helvetica",Sans-serif;
          font-size:15px}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
#nav-popup-998a21d .elementor-nav-menu--popup .elementor-item{
          color:#fffbf2;
          padding-left:0;
          padding-right:0;
          padding-top:0;
          padding-bottom:0}
#nav-popup-998a21d .elementor-nav-menu--popup.e--pointer-dot .elementor-item:before{
          background-color:#fffbf2}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item:hover,.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item.elementor-item-active,.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item.highlighted,.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item:focus{
          color:#ef6711 !important}
#nav-popup-998a21d .elementor-nav-menu--popup .elementor-item:hover,#nav-popup-998a21d .elementor-nav-menu--popup .elementor-item:focus{
          color:#ef6711}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main.e--pointer-dot .elementor-item:hover:before{
          background-color:#ef6711}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .current-menu-ancestor .elementor-item.has-submenu{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main .elementor-item.elementor-item-active{
          color:#ffdd01 !important}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
#nav-popup-998a21d .elementor-nav-menu--popup .elementor-item.elementor-item-active{
          color:#ffdd01}
#nav-popup-998a21d .elementor-nav-menu--popup.e--pointer-dot .elementor-item.elementor-item-active:before{
          background-color:#ffdd01}
body:not(.rtl) .elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-right:10px}
body.rtl .elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child){
          margin-left:10px}
.elementor-284 .elementor-element.elementor-element-998a21d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child){
          margin-bottom:10px}
.elementor-284 .elementor-element.elementor-element-e5b1934>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{
          align-content:center;align-items:center}
.elementor-284 .elementor-element.elementor-element-e5b1934:not(.elementor-motion-effects-element-type-background),.elementor-284 .elementor-element.elementor-element-e5b1934>.elementor-motion-effects-container>.elementor-motion-effects-layer{
          background-color:#ffdd01}
.elementor-284 .elementor-element.elementor-element-e5b1934{
          border-style:solid;
          border-width:1px 0;
          border-color:rgba(255,255,255,.15);
          transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
          padding:20px 0}
.elementor-284 .elementor-element.elementor-element-e5b1934>.elementor-background-overlay{
          transition:background .3s,border-radius .3s,opacity .3s}
.elementor-284 .elementor-element.elementor-element-aa587a5>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-dea2593 .elementor-icon-list-item{
          margin:0 15px;
          font-size:12px;
          text-transform:uppercase}
.elementor-284 .elementor-element.elementor-element-dea2593 .elementor-icon-list-icon i{
          color:#000;
          font-size:14px}
.elementor-284 .elementor-element.elementor-element-dea2593 .elementor-icon-list-icon{
          width:14px}
.elementor-284 .elementor-element.elementor-element-dea2593 .elementor-icon-list-text{
          color:#000;
          padding-left:5px}
.elementor-284 .elementor-element.elementor-element-d0a01bf>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{
          align-content:center;
          align-items:center}
.elementor-284 .elementor-element.elementor-element-d0a01bf{
          padding:40px 0}
.elementor-284 .elementor-element.elementor-element-6d322b9>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-7b5540d{
          color:#fff;
          font-family:"Helvetica",Sans-serif}
.elementor-284 .elementor-element.elementor-element-7b5540d>.elementor-widget-container{
          margin:0 0 0 15px}
.elementor-284 .elementor-element.elementor-element-ba682c7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
          margin-bottom:0}
.elementor-284 .elementor-element.elementor-element-402a391 .elementor-text-editor{
          text-align:right}
.elementor-284 .elementor-element.elementor-element-402a391{
          color:#fef0d3;font-family:"Helvetica",Sans-serif}.elementor-284 .elementor-element.elementor-element-402a391>.elementor-widget-container{margin:0 15px 0 0}@media(max-width:1024px){.elementor-284 .elementor-element.elementor-element-92bb606{padding:40px}.elementor-284 .elementor-element.elementor-element-98dd852{text-align:center}.elementor-284 .elementor-element.elementor-element-98dd852>.elementor-widget-container{margin:0 0 20px}.elementor-284 .elementor-element.elementor-element-bd15c6b .elementor-text-editor{text-align:left}.elementor-284 .elementor-element.elementor-element-b8a6a5e>.elementor-element-populated{padding:40px}.elementor-284 .elementor-element.elementor-element-8506f8a{text-align:center}.elementor-284 .elementor-element.elementor-element-5974ead .elementor-text-editor{text-align:center}.elementor-284 .elementor-element.elementor-element-082d128>.elementor-element-populated{padding:0 0 40px}.elementor-284 .elementor-element.elementor-element-b7e09ba{text-align:center}.elementor-284 .elementor-element.elementor-element-67401b4>.elementor-element-populated{padding:0 0 40px}.elementor-284 .elementor-element.elementor-element-9469a12{text-align:center}.elementor-284 .elementor-element.elementor-element-c125e01>.elementor-element-populated{padding:0 0 40px}.elementor-284 .elementor-element.elementor-element-a702432{text-align:center}.elementor-284 .elementor-element.elementor-element-e5b1934{padding:40px}.elementor-284 .elementor-element.elementor-element-d0a01bf{padding:40px}}@media(max-width:767px){.elementor-284 .elementor-element.elementor-element-92bb606{padding:40px 20px}.elementor-284 .elementor-element.elementor-element-bd15c6b .elementor-text-editor{text-align:center}.elementor-284 .elementor-element.elementor-element-bd15c6b>.elementor-widget-container{margin:0 0 20px}.elementor-284 .elementor-element.elementor-element-b8a6a5e>.elementor-element-populated{padding:40px 20px}.elementor-284 .elementor-element.elementor-element-e5b1934{padding:40px 20px}.elementor-284 .elementor-element.elementor-element-dea2593 .elementor-icon-list-item{margin:5px 20px}.elementor-284 .elementor-element.elementor-element-d0a01bf{padding:40px 20px}.elementor-284 .elementor-element.elementor-element-7b5540d .elementor-text-editor{text-align:center}.elementor-284 .elementor-element.elementor-element-7b5540d>.elementor-widget-container{margin:0 0 20px}.elementor-284 .elementor-element.elementor-element-402a391 .elementor-text-editor{text-align:center}}@media(min-width:768px){.elementor-284 .elementor-element.elementor-element-91db7f9{width:21.308%}.elementor-284 .elementor-element.elementor-element-a2d0954{width:58.692%}.elementor-284 .elementor-element.elementor-element-a2151ac{width:19.999%}.elementor-284 .elementor-element.elementor-element-b8a6a5e{width:50%}.elementor-284 .elementor-element.elementor-element-082d128{width:17.154%}.elementor-284 .elementor-element.elementor-element-67401b4{width:13.846%}.elementor-284 .elementor-element.elementor-element-c125e01{width:19%}}@media(max-width:1024px) and (min-width:768px){.elementor-284 .elementor-element.elementor-element-91db7f9{width:100%}.elementor-284 .elementor-element.elementor-element-a2d0954{width:50%}.elementor-284 .elementor-element.elementor-element-a2151ac{width:50%}.elementor-284 .elementor-element.elementor-element-b8a6a5e{width:100%}.elementor-284 .elementor-element.elementor-element-082d128{width:33.33%}.elementor-284 .elementor-element.elementor-element-67401b4{width:33.33%}.elementor-284 .elementor-element.elementor-element-c125e01{width:33.33%}}
